<!DOCTYPE html>
<html>
<head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed 
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    -->
    
    <script src="/socket.io/socket.io.js"></script>
    
    <script>
        function setGuild(){
            let guild = document.getElementById("guilds").value;
            document.getElementById("wdiscord").src=`https://discordapp.com/widget?id=${guild}&theme=dark`;
        }
        var user = '<%= user.username %>';
        console.log(user);
    </script>
</head>
<body>
    <div id="app">
        <a href="/logout">Logout</a>
        <p>Welcome {{ user }}, bot system management for controls!</p>

        <label>Guilds</label>
        <br>
        <select id="guilds" class=""  onclick="setGuild()">
            <% user.guilds.forEach(function(guild) { %>
                <option class="" value="<%=guild.id%>"> <%= guild.name %> </option>
            <% }) %>
        </select>
        <br>
        <iframe id="wdiscord" src="" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <script src="/bundle.js"></script>
</body>
</html>